<header>
  <nav class="container-fluid navbar navbar-expand-lg w-100 header__container">
    <div class="container-fluid">
      <a class="navbar-brand" href="/opening">
        <img [src]="logoPath" alt="logomarca" class="d-inline-block align-text-top header__logo">
      </a>
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link align-items-center" href="/opening">
            <img [src]="calendarIcon" alt="calendario" class="header__icon">
            <span class="ms-2 header__calendar-date">22/04/2023</span>
          </a>
        </li>
        <span class="mx-4 text-white">|</span>
        <li class="nav-item">
          <a class="nav-link align-items-center" href="/opening">
            <img [src]="notificationIcon" alt="notificação" class="header__icon">
          </a>
        </li>
        <span class="mx-4  text-white">|</span>
        <li class="nav-item dropdown d-flex flex-row align-items-center">
          <img [src]="userImg" alt="Foto do usuário" width="30" height="30" class="bg-cover rounded-circle">
          <a class="nav-link dropdown-toggle text-white" href="/opening" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/opening">Link1</a></li>
            <li><a class="dropdown-item" href="/opening">Link2</a></li>
            <li><a class="dropdown-item" href="/opening">Link3</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
