.header__container{
  background-color: #252323;
}
.header__logo{
  width: 110px;
  height: 40px;
  margin-left: 15px;
}
.header__icon{
  width: 16px;
  height: 16px;
}
.header__calendar-date{
  color: #E4EBFB;
  font-size: 12px;
  font-weight: 400;
}
.header__icon-down{
  color: #FFFFFF;
}
